.skills {
    display: grid;
    grid-template-columns: 25% 75%;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.sectionName {
    font-size: 14px;
    font-weight: bold;
}

.skillsText {
    font-size: 14px;
}